{% extends "emails/base_email.html" %}
{% import "emails/_components.html" as ui with context %}
{% block preheader %}Your {{ store_name }} password was just changed.{% endblock %}
{% block content %}
{{ ui.intro(copy) }}
{{ ui.button(login_url, copy.button_label) }}
{% call ui.notice("danger") %}<strong>Wasn't you?</strong> Reset your password right away at <a href="{{ forgot_url }}" style="color:#991b1b;">{{ forgot_url }}</a> and contact us at {{ support_email }}.{% endcall %}
{{ ui.note(copy) }}
{% endblock %}
